.bi {
  color: var(--color-cor);
}

.box {
  max-width: 100%;
  height: 10rem;
}

.nav-item {
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .bi {
    display: none;
  }
}
