<section class="container d-flex justify-content-centera align-items-center containers">
  <div>
    <p class="fw-bold">An inviting escape</p>
  </div>

  <div class="">
    <p class="ms-5 paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Asperiores ad
      exercitationem inventore cum maxime earum porro ea, hic itaque. <br> Suscipit
      optio a obcaecati doloremque magnam recusandae! At facere provident vel,
      laboriosam ullam corporis vitae, <br> quasi rerum error hic quas rem.
    </p>

    <button class="btn btn-outline-dark ms-5 mb-5">Our History</button>
  </div>
</section>
