<section class="container my-5 mt-5 d-lg-flex px-lg-5 me-lg-5 imagens">
  <div class="box_mapa mt-lg-5">
    <p class="title">123 Fake Street, Stone Ridge, NY 12345</p>
    <a href="https://maps.app.goo.gl/uzNGz6Kwa9y1HjEt5"
      ><img [src]="getImag" class="img-fluid mt-5 img_map" data-aos="flip-left" data-aos-duration="3000"
    /></a>
    <p class="fw-bolder mb-5">Clique na Imagem para ver onde se localiza</p>
  </div>
  <br /><br><br>

  <div class="container-fluid me-1 mx-1 d-flex justify-content-center">
    <div class="grupo_imagens">
      <p class="h5 title_01 mt-5 text-center">{{ textLink }}</p>
      <div class="group_img container d-grid grid">
        <div class="box1 mb-1"></div>
        <div class="box2 mb-1"></div>
        <div class="box3 mb-1"></div>
        <div class="box4 mb-1"></div>
        <div class="box5 mb-1"></div>
        <div class="box6 mb-1"></div>
      </div>
    </div>
  </div>
</section>
